.page-container-full-screen {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
}
.code-editor-container {
  display: grid;
  grid-template-columns: 7fr 3fr;
}

.output-container {
  height: 75vh;
  font-size: 1.2em;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  overflow-wrap: break-word; /* Use 'overflow-wrap' for word wrapping */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-wrap: break-word;
}

.output-container-dark {
  background-color: #1e1e1e;
  color: white;
}

.output-container-light {
  color: #1e1e1e;
  background-color: white;
}

.output-container-full-screen {
  height: 91vh;
}

.output-text {
  width: 95%;
  height: 85%;
  line-height: 1.6em;
  font-size: 1.2em;
  word-wrap: break-word;
  white-space: pre-wrap; /* Enables wrapping of long lines */
  word-wrap: break-word; /* Alternative property for older browsers */
  overflow-wrap: break-word;
  margin: auto;
}

.editor-head {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.editor-head-dark {
  background-color: #1e1e1e;
}

.btn-container {
  display: flex;
  width: max-content;
  margin: auto;
  justify-content: center;
  gap: 1em;
  vertical-align: middle;
}

.secondary-btn-container {
  width: max-content;
  margin: auto;
  display: flex;
  gap: 2em;
}
.btn-run {
  background-color: #3bc687;
  color: white;

  height: 3.6em;
  border: none;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  gap: 0.5em;

  cursor: pointer;
}
.btn-run:hover {
  background-color: #2bb677;
}
.btn-run:active {
  background-color: #1ba667;
}
.btn-run * {
  line-height: 3.2em;
  height: 3.2em;
  font-size: 1.2em;
  font-weight: bold;
}

.btn-reset,
.btn-reset:active {
  background-color: transparent;
}

.btn-reset * {
  font-size: 2em;
}

.btn-reset-dark-mode {
  color: white;
}
.btn-reset-dark-mode:hover {
  color: #ddd;
  background-color: transparent;
}

.btn-reset-dark-mode * {
  height: 100%;
}

.btn-mode {
  background-color: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
}

.btn-full-screen {
  font-size: 1.6em;
  margin: auto;
}
.btn-mode-dark {
  color: white;
}

.btn-mode-light {
  color: #072c47;
}
