.code-editor-container {
  display: grid;
  grid-template-columns: 7fr 3fr;
}
.output-container {
  height: 100%;
  font-size: 1.2em;
  font-family: "Courier New", Courier, monospace;
}
.output-container-dark {
  background-color: #1e1e1e;
  color: white;
}

.output-container-light {
  color: #1e1e1e;
  background-color: white;
}

.editor-head {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.editor-head-dark {
  background-color: #1e1e1e;
}

.btn-container {
  margin: auto;
}
.btn-run {
  background-color: #3bc687;
  color: white;
  width: 7em;
  height: 3.6em;
  border: none;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin: auto;
  cursor: pointer;
}
.btn-run:hover {
  background-color: #2bb677;
}
.btn-run:active {
  background-color: #1ba667;
}
.btn-run * {
  line-height: 3.2em;
  height: 3.2em;
  font-size: 1.2em;
  font-weight: bold;
}
.btn-mode {
  background-color: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
}

.btn-mode-dark {
  color: white;
}

.btn-mode-light {
  color: #072c47;
}
