.contact-via-email-container {
  display: grid;

  width: 80vw;
  max-height: 60vh;
  margin: 0;
  padding: 6vh 10vw;
  padding-bottom: 15vw;
  color: #f6ab3c;
}

.contact-via-email-container h2 {
  text-align: left;
  font-size: 3.2em;
  font-weight: 400;
  color: #f6ab3c;
  text-align: center;
}

.contact-via-email-container .form-send-email {
  margin: 0;
}

.contact-via-email-container .form-input {
  display: grid;
  width: 60vw;
  margin: auto;
  grid-template-columns: 1fr;
  gap: 1em;
}

.contact-via-email-container .form-input .row-1,
.contact-via-email-container .form-input .row-2 {
  display: grid;
  text-align: left;
  gap: 0.5em;
}

.contact-via-email-container .form-input input,
.contact-via-email-container .form-input textarea {
  min-height: 3.2em;
  border: solid #f6ab3c 1px;
  border-radius: 0.4em;
  font-size: 1em;
  line-height: 0.7em;
  padding-left: 1em;
}

.contact-via-email-container .form-input textarea {
  line-height: 1.2em;
  padding: 0.5em;
}

.contact-via-email-container .send-email-button {
  cursor: pointer;
  width: 12vw;
  margin: 2em;
  height: 3.2em;
  margin-left: 68vw;
  background-color: #f6ab3c;
  color: white;
  border: none;
  font-size: 1em;
  font-weight: 900;
  border-radius: 0.2em;
}

@media screen and (max-width: 420px) {
  .contact-via-email-container {
    display: grid;
    width: 90vw;
    max-height: none;
    height: auto;
    padding: 4vw;
    padding-bottom: 0;
    color: #f6ab3c;
  }

  .contact-via-email-container h2 {
    text-align: left;
    font-size: 1.6em;
    font-weight: 400;
    color: #f6ab3c;
    text-align: center;
  }

  .contact-via-email-container .form-send-email {
    margin: 0;
  }

  .contact-via-email-container .form-input {
    height: fit-content;
  }

  .contact-via-email-container .send-email-button {
    width: 50vw;
    height: 2.8em;
    margin-left: 20vw;
    background-color: #f6ab3c;
    color: white;
    border: none;
  }
}
